.education-section {
  background-color: #5d869a;
  color: #333;
  text-align: center;
  padding: 50px 20px;
  width: 100%;
}

.education-content {
  width: 95%;
  margin: 0 auto;
}

.education-content h3 {
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}

.education-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.technology-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.education-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 45%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.technology-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 18%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  max-height: 90px;
}

.education-item h4,
.technology-item h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.education-item p,
.technology-item p {
  font-size: 1em;
  color: #666;
}

.certifications-list {
  margin-top: 20px;
}

.mat-mdc-card-header {
  padding: 0 !important;
}

.mdc-card__actions {
  padding: 0 !important;
  max-height: 10px !important;
  min-height: 10px !important;
}

@media (max-width: 768px) {
  .education-list,
  .technology-list {
    flex-direction: column;
    align-items: center;
  }

  .education-item {
    width: 100%;
    margin: 0;
  }
  .technology-item {
    width: 100%;
    margin: 5px 0px;
  }

  .certifications-list .btn-block {
    width: 100%;
  }

  .course-item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .mat-mdc-card-title {
font-size: 20px;
}
  .education-section {
    padding: 30px 10px;
  }

  .education-content h3 {
    margin: 10px 9px;
    font-size: 1.4em;
  }

  .education-item h4,
  .technology-item h4 {
    font-size: 1.3em;
  }

  .education-item p,
  .technology-item p {
    font-size: 0.9em;
  }

  .course-item {
    width: 100%;
  }
}
