<footer class="bg-dark text-white pt-4 pb-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase">{{ 'footer.about' | translate }}</h5>
        <p>{{ 'footer.about_description' | translate }}</p>
      </div>
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase">{{ 'footer.links' | translate }}</h5>
        <ul class="list-unstyled">
          <li><a href="#!" class="text-white">{{ 'footer.home' | translate }}</a></li>
          <li><a href="#!" class="text-white">{{ 'footer.projects' | translate }}</a></li>
          <li><a href="#!" class="text-white">{{ 'footer.contact' | translate }}</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase">{{ 'footer.social' | translate }}</h5>
        <ul class="list-unstyled">
          <li><a href="https://github.com/rodolfodiegosilva" class="text-white"><i class="fab fa-github"></i> GitHub</a></li>
          <li><a href="#!" class="text-white"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
          <li><a href="#!" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3">
        <p>&copy; 2024 Rodolfo Silva. {{ 'footer.rights' | translate }}</p>
      </div>
    </div>
  </div>
</footer>
