<div class="modal fade" id="experienceModal" tabindex="-1" aria-labelledby="experienceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="experienceModalLabel">{{ experience?.position }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="experience">
          <h3>{{ experience.company }}</h3>
          <h6>{{ experience.period }}</h6>
          <ul>
            <li *ngFor="let responsibility of experience.responsibilities">{{ responsibility }}</li>
          </ul>
          <p><strong>{{ 'professionalExperiences.stacks' | translate }}:</strong> {{ experience.stacks }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'professionalExperiences.close' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  