*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #398eb9;
  color: #efefef;
  z-index: 5;
  padding: 1rem;
}

.nav__logo {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav__menucontainer {
  position: relative;
  display: flex;
  align-items: center;
}

.nav__hamburger {
  color: inherit;
  min-width: 32px;
  min-height: 32px;
  transition: opacity 80ms linear;
  display: none;
  opacity: 0;
}

.nav__hamburgerclose {
  color: inherit;
  position: absolute;
  top: 0;
  min-width: 32px;
  min-height: 32px;
  transition: opacity 150ms linear;
  display: none;
  opacity: 0;
  z-index: -1;
}

.nav__hamburgerclose.show {
  display: flex;
  opacity: 1;
  z-index: 1;
}

.nav__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.95rem;
  font-weight: 500;
}

.nav__item {
  margin-right: 1rem;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  width: 100%;
  cursor: pointer; /* Adiciona a mãozinha ao passar o mouse */
}

.nav__link:hover,
.nav__link:focus-visible {
  box-shadow: 0 4px 0 -1px #a2e718;
}

.toggle-container-responsive {
  display: none;
}

/* ----- smaller screen sizes ----- */
@media (max-width: 520px) {
  .toggle-container-responsive {
    display: inline;
  }
  .toggle-container-desktop {
    display: none;
  }
  .nav__hamburger {
    display: flex;
    opacity: 1;
  }

  .nav__menu {
    opacity: 0;
    position: fixed;
    visibility: hidden;
    top: -1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #25310c;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.19);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem 0 2rem 2rem;
    background: rgba(255, 255, 255, 1);
    transition: top 0.5s;
  }

  .nav__menu.active {
    visibility: visible;
    opacity: 1;
    top: 2rem;
    right: 1.5rem;
  }

  @supports (backdrop-filter: blur(10px)) {
    .nav__menu.active {
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(10px);
    }
  }

  .nav__item {
    margin-right: 0;
    padding: 0.5rem 1.5rem;
  }

  .nav__link:hover,
  .nav__link:focus {
    opacity: 0.8;
    color: #121212;
  }

  .nav__hamburgerclose {
    display: none;
    opacity: 0;
    z-index: -1;
  }

  .nav__hamburgerclose.show {
    display: flex;
    opacity: 1;
    z-index: 1;
  }

  .nav__hamburger {
    opacity: 1;
    z-index: 1;
  }

  .nav__menucontainer.focus-within .nav__hamburger {
    opacity: 0;
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .toggle-container-responsive {
    display: inline;
  }
  .toggle-container-desktop {
    display: none;
  }
  .nav__hamburger {
    display: flex;
    opacity: 1;
  }

  .nav__menu {
    opacity: 0;
    position: fixed;
    visibility: hidden;
    top: -1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #25310c;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.19);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem 0 2rem 2rem;
    background: rgba(255, 255, 255, 1);
    transition: top 0.5s;
  }

  .nav__menu.active {
    visibility: visible;
    opacity: 1;
    top: 2rem;
    right: 1.5rem;
  }

  @supports (backdrop-filter: blur(10px)) {
    .nav__menu.active {
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(10px);
    }
  }

  .nav__item {
    margin-right: 0;
    padding: 0.5rem 1.5rem;
  }

  .nav__link:hover,
  .nav__link:focus {
    opacity: 0.8;
    color: #121212;
  }

  .nav__hamburgerclose {
    display: none;
    opacity: 0;
    z-index: -1;
  }

  .nav__hamburgerclose.show {
    display: flex;
    opacity: 1;
    z-index: 1;
  }

  .nav__hamburger {
    opacity: 1;
    z-index: 1;
  }

  .nav__menucontainer.focus-within .nav__hamburger {
    opacity: 0;
    z-index: -1;
  }
}
