<div
  class="modal fade"
  id="educationModal"
  tabindex="-1"
  aria-labelledby="educationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="educationModalLabel">
          {{ education?.degree }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" *ngIf="education">
        <h3>
          {{ education.institution }} - {{ education.year }}
        </h3>
        <p>{{ education.description }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          {{ "education.close" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
