.container {
  padding: 20px;
  max-width: 95% !important;
}

.card-img-top {
  max-height: 300px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  margin-top: 10px;
}

.card-text {
  font-size: 14px;
  color: #555;
}
