<div class="skills-section full-width">
  <div class="skills-content">
    <h3>{{ "skills.title" | translate }}</h3>
    <div class="skills-list">
      <div class="skill" *ngFor="let skill of skills">
        <h4>{{ skill.name | translate }}</h4>
        <p>{{ skill.description | translate }}</p>
        <div class="progress-bar-container">
          <div class="progress-bar" [ngClass]="skill.level"></div>
        </div>
        <div class="skill-level">
          {{ "skills.levels." + skill.level | translate }}
        </div>
        <!-- Ajuste na tradução -->
      </div>
    </div>
  </div>
</div>
