.skills-section {
  background-color: #5d869a;
  color: #333;
  text-align: center;
  padding: 50px 20px;
  width: 100%;
}

.skills-content {
  max-width: 95%;
  margin: 0 auto;
}
.skills-content h3 {
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.skill {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  flex: 1 1 calc(20% - 40px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.skill h4 {
  font-size: 1em;
  margin-bottom: 0px;
}
.skill p {
  font-size: .8em;
  margin-bottom: 0px;
  color: #666;
}
.progress-bar-container {
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  margin-top: 10px;
}
.progress-bar {
  height: 100%;
  transition: width 0.5s;
}
.progress-bar.Advanced {
  width: 100%;
  background-color: #2196f3;
}
.progress-bar.Intermediate {
  width: 66.66%;
  background-color: #4caf50;
}
.progress-bar.Beginner {
  width: 33.33%;
  background-color: #ff9800;
}
.skill-level {
  margin-top: 0px;
  font-size: 0.9em;
  color: #282626;
}

@media (max-width: 768px) {
  .skills-list {
    flex-direction: column;
    align-items: center;
  }
  .skill {
    width: 100% !important;
    margin: 0 !important;
    padding: 1px !important;
  }
  .skills-content {
    max-width: 100% !important;
  }
  .skill h4 {
    font-size: .9em;
    margin-bottom: 0px;
  }
  .skill p {
    font-size: .7em;
  }
}
