.modal-header {
    background-color: #343a40;
    color: #fff;
  }
  
  .modal-title {
    font-size: 1.5em;
  }
  
  .modal-body h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .modal-body ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .modal-body ul li {
    margin-bottom: 10px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .btn-close {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    color: #000;
    opacity: 0.5;
  }
  
  .btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  